<table *ngIf="isLoaded; else loadingBlock">
  <thead>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Value</th>
    <th>Teacher</th>
    <th>Student</th>
    <th>Subject</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let grade of grades; let ind = index"
  >
    <td>{{ind + 1}}</td>
    <td>{{grade.date | date:'short'}}</td>
    <td>{{grade.value}}</td>
    <td>{{grade.teacher.surname}} {{grade.teacher.name}}</td>
    <td>{{grade.student.surname}} {{grade.student.name}}</td>
    <td>{{grade.subject.name}}</td>
  </tr>
  </tbody>
</table>

<ng-template #loadingBlock>
  <p class="text-center">Loading...</p>
</ng-template>
