<div *ngIf="isLoaded; else loadingBlock">
  <div class="form-control">
<!--    <input type="text" placeholder="name..." [(ngModel)]="strForSearchSubjName">-->
    <select matNativeControl required
      (change)="this.strForSearchGroupName = $event.target.value"
    >
      <option value="">show all</option>
      <option *ngFor="let subj of groups"
              [value]="subj.name"
      >
        {{subj.name}}
      </option>
    </select>
    <!--  TODO: have to be selectControl to filter students-->
  </div>

  <table *ngIf="isLoaded; else loadingBlock">
    <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody
      *ngFor="let group of groups | searchByNameGroup:strForSearchGroupName; let ind = index"
    >
    <app-group
      [group]="group"
      [ind]="ind + 1"
      (deleteGroup)="deleteGroup(group)"
    ></app-group>
    </tbody>
  </table>
</div>

<ng-template #loadingBlock>
  <p class="text-center">Loading...</p>
</ng-template>
